.sin-decoracion{
    text-decoration: none;
}

.boton{
    color: black;
    background-color: transparent;
    border: none;
}

.foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.boton:hover{
    color: rgb(77, 77, 77) !important; 
}